allow perfd sysfs_memory:dir { open search read write };
allow perfd sysfs_memory:file { open read write };
allow perfd proc_kernel_sched:file rw_file_perms;
