allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file { write getattr open read };
allow system_app qmuxd_socket:dir search;
allow system_app qtitetherservice_service:service_manager add;

dontaudit system_app netd_service:service_manager find;
